/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
  font-family: 'Open Sans', sans-serif;
  background: image-url("content_inner_bg.png");
  background: image-url("breadcrumbs.png");
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,cyrillic);

@mixin grey-marker {
  background: rgba(#000, .5);
  display: inline-block;
  font-style: normal;
  padding: 0 10px;
  font-weight: 200;
  margin: 1px 0;
}

h3 {
  font-weight: 300;
  margin: 0 0 25px;
}

ul {
  margin: 0 0 25px 50px;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  margin-top: 20px;
  margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
  @media screen and (max-width: 979px) {
    background: #000;
    margin: 0;
    padding-top: 20px;
    p { margin: 0; }
    .navbar {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      .btn-navbar {
        margin: 15px 10px 5px;
        float: left;
        .icon-bar {
          width: 25px;
          height: 5px;
        }
      }
    }
  }
}

/* Remove border and change up box shadow for more contrast */
.navbar .navbar-inner {
  padding: 0;
  border: 0;
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
     -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
          box-shadow: 0 2px 10px rgba(0,0,0,.25);
}

/*.index .navbar-inverse .navbar-inner {
  background-color: #8C3041;
  background-image: -moz-linear-gradient(top,#222222,#111111);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#222222),to(#111111));
  background-image: -webkit-linear-gradient(top,#222222,#111111);
  background-image: -o-linear-gradient(top,#222222,#111111);
  background-image: linear-gradient(to bottom,#222222,#111111);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF222222',endColorstr='#FF111111',GradientType=0);
  border-color: #252525;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
  color: #ccc;

  &:active, &:hover {background: #8C3041}
}*/

.navbar {
  .nav {
    margin: 0;
  }
  .navbar-inner {
    border-radius: 0;
    box-shadow: none;
    background: rgba(#000, .95);
  }
}

/* Downsize the brand/project name a bit */
.navbar .brand {
  padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}

/* Navbar links: increase padding for taller navbar */
.navbar .nav > li > a {
  padding: 15px 20px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 90px;
  @media screen and (max-width: 640px) {
    display: none;
  }
}

.carousel .container {
  position: relative;
  z-index: 9;
}

.carousel-control {
  height: 80px;
  margin-top: 0;
  font-size: 120px;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
  background-color: transparent;
  border: 0;
  z-index: 10;
}

.carousel .item {
  height: 500px;
}
.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

.carousel-caption {
  background-color: transparent;
  position: static;
  max-width: 800px;
  padding: 0 20px;
  margin-top: 185px;
}
.carousel-caption h1,
.carousel-caption .lead {
  margin: 0;
  line-height: 40px;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
}

.carousel-caption .lead {
  font-size: 15px;
  padding: 20px 0;
  line-height: 22px;
}

.carousel-caption h1 i {
  background: rgba(#2c8bdc, .75);
  display: inline-block;
  font-style: normal;
  padding: 0 5px;
  font-weight: 400;
  font-size: 28px;
  margin: 3px 0;
}

.carousel-caption .lead i {
  @include grey-marker;
}

.carousel-caption .btn {
  margin-top: 10px;
}

.btn.btn-primary {
  background: #1a7bce;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  border: 0;
  border-radius: 3px;
  font-size: 16px;
  line-height: 22px;
  padding: 12px 28px 9px;
  &:hover {
    background: #2c8bdc;
    box-shadow: 0 0 5px #2c8bdc;
  }
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .span3 {
  text-align: center;
}

.marketing .span3 p {
  margin-left: 10px;
  margin-right: 10px;
}

.classes {
  text-align: center;
  .span3 p:first-of-type {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.05em;
  }
  .descr {
    min-height: 80px
  }
}

.marketing {
  .span3 img {
    max-width: 200px;
    height: auto;
  }
  h2 {
    font-weight: 300;
  }
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 20px 0; /* Space out the Bootstrap <hr> more */
}
.featurette {
  padding: 30px 0 20px; /* Vertically center images part 1: add padding above and below text. */
  overflow: hidden; /* Vertically center images part 2: clear their floats. */
  h2 {
    margin: 0 0 30px;
  }
}
/*.featurette-image {
  margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
/*}*/

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette-image.pull-left {
  margin-right: 40px;
  margin-bottom: 100px;
  margin-left: 0;
}
.featurette-image.pull-right {
  margin-left: 20px;
  margin-bottom: 100px;
  margin-right: 40px;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-size: 40px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
  color: #2c8bdc;
}

.map-holder {
  margin: 20px 0 40px;
}

.muted {
  color: #999999;
  display: block;
  font-size: .5em;
  margin-bottom: .5em;
  margin-top: .4em;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media screen and (max-width: 1024px) {
  .navbar {
    .nav > li > a {
      padding: 15px;
    }
  }
}

@media screen and (max-width: 979px) {

  .carousel {
    display: none;

    .item {
      height: 240px;
    }
    img {
      width: auto;
      height: auto;
    }
    .carousel-caption {
      margin-top: 10px;
      .lead,
      h1 {
        display: none;
      }
    }
  }

  .featurette {
    height: auto;
    padding: 0;
  }
  .featurette-image.pull-left,
  .featurette-image.pull-right {
    display: block;
    float: none;
    max-width: 40%;
    margin: 0 auto 20px;
  }
}


@media screen and (max-width: 767px) {

  .carousel {
    margin-left: -20px;
    margin-right: -20px;
  }
  .carousel .container {

  }
  .carousel .item {
    height: 300px;
  }
  .carousel img {
    height: 300px;
  }
  .carousel-caption {
    width: 65%;
    padding: 0 70px;
    margin-top: 100px;
  }
  .carousel-caption h1 {
    font-size: 30px;
  }

  .carousel-caption .btn {
    font-size: 18px;
  }

  .marketing .span3 + .span3 {
    margin-top: 40px;
  }

  .featurette-heading {
    font-size: 30px;
  }
  .featurette .lead {
    font-size: 18px;
    line-height: 1.5;
  }

}


.container.inner {
  padding: 160px 0 0 0;
  @media screen and (max-width: 979px) {
    padding-top: 0;
  }
}

.booking-form {
  mark {
    background: transparent;
    color: red;
  }
  .control-label {width:220px}
  .controls {
    margin-left:240px;
    input[type="text"] {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      border-radius: 1px;
      width: 280px;
      height: 30px;
    }
    select {
      width: 280px;
    }
  }
}

.transfer {
  margin-bottom: 100px;
  h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    padding-top: 40px;
  }
  ul {
    list-style:none;
    margin: 0;
  }
}

.prices {
  thead th {
    vertical-align: top;
    &:first-child {
      text-align: left;
    }
  }
  th, td {
    text-align: center;
  }
  td:first-child {
    text-align: left;
    width: 30%;
  }
}

.cont {
  padding: 5px 0 0 0;
  display: block;
  float: left;
  background: image-url('wifi_free.png') 155px 13px no-repeat;
  .index & { background-image: image-url('wifi_free_white.png'); }

  &+a {
    float: left;
    margin: 12px 0 0 20px;
  }

  p {
    margin: 0 0 3px;
    font-size: 10px;
    line-height: 22px;
    text-transform: uppercase;
    color: #A1A1A1;
    i {
      font-style: normal;
      width: 35px;
      display: inline-block;
    }
    b {
      font-weight: normal;
      display: inline-block;
      margin-left: 5px;
      color: #000;
      font-size: 15px;
      text-transform: lowercase;
      .index & {
        color: #fff;
      }
    }
  }
  a {
    color: #333;
    text-decoration: underline;
    &:hover { text-decoration: none; }
    .index & { color: #fff; }
  }
}

.addr {
  font-size: 15px;
  padding-top: 6px;
  display: block;
}
.addr,
.logo {
  margin-right: 20px;
}

.logo {
  font-size: 30px;
  line-height: 34px;
  font-weight: 600;
  margin-top: 11px;
  display: block;
  line-height: 1;
  color: #333;
  &:hover {
    text-decoration: none;
    opacity: .85;
    color: #333;
  }
  @media screen and (max-width: 979px) {
    top: 0;
    z-index: 1;
    left: 40px;
    right: 40px;
    text-align: center;
    font-size: 22px;
    margin: 0;
    color: #fff;
    padding-top: 20px;
    &:hover {
      color: #fff;
    }
  }
}

.header {
  margin-bottom: 10px;
  .btn {
    font-size: 12px;
    padding: 5px 30px;
  }
  @media screen and (max-width: 979px) {
    position: relative;
    z-index: 1;
    .cont {
      margin: 0;
      background: image-url('wifi_free_white.png') 90% 0 no-repeat;
      padding: 0;
      b, i, a {
        color: #fff;
        width: auto;
        font-size: 13px;
        text-transform: none;
      }
    }
    .logo { padding-top: 0; }
    .addr { font-size: 13px; }
    .btn {
      line-height: 1.2;
      padding: 5px;
    }
  }
  @media screen and (max-width: 767px) {
    .cont { margin-bottom: 15px; }
    .btn {
      padding: 10px;
    }
    .addr {
      font-size: 13px;
      margin-bottom: 10px;
    }
  }
}

.index .logo,
.index .cont {
  color: #fff;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}

.cont {
  @media screen and (max-width: 979px) {
    float: none;
    padding: 10px;
    margin-top: 30px;
    display: block;
    color: #fff;
  }
  @media screen and (max-width: 640px) {
    text-align: center;
  }
}

.alert {
  text-align:center;
  display: none;
}

.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active {
  background: #8C3041;
}

.gallery .span3 {
  height: 202px;
  overflow: hidden;
  margin-bottom: 30px;
}

.cta {
  padding: 40px  0 60px;
  text-align: center;
}

.look {
  display: block;
  text-align: center;
  padding: 0 0 10px;
}

.partner {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 30px;
  box-sizing: border-box;
  width: 30%;
  margin-right: 3%
}

.partner ul {list-style:none; padding: 0; margin: 0}

table a {
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

footer {
  padding: 30px 0 0;
}

@media screen and (max-width: 979px) {
  body > .container {
    margin-top: 224px;
  }
  .carousel {
    display: none;
  }
  .navbar {
    .navbar-inner {
      margin: 0;
      background: #000;
    }
    .nav {
      margin-top: 30px;
      text-align: left;
      border-top: 1px solid #222;
    }
  }
  .cta {
    padding-top: 10px;
    .look {
      display: none;
    }
  }
  .header {
    margin-bottom: 20px;
    .btn {
      display: block;
      margin: 0 20px;
      font-size: 14px;
    }
  }
  .featurette-image.pull-right,
  .featurette-image.pull-left {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .marketing .span3 p {
    margin: 0;
  }
  .booking-form {
    .controls,
    .control-label {
      margin-left: 0;
      width: 100%;
    }
  }
  .partner {
    width: 100%;
  }
  h3 {
    font-size: 21px;
    line-height: 1.2;
  }
  footer {
    font-size: 10px;
  }
}

.watches,
.weather {
  position: relative;
  height: 50px;
  @media screen and (max-width: 979px) {
    display: none;
  }
}
.watches {
  float: right;
  height: 50px;
  color: #333;
  top: 6px;
  strong {
    display: block;
    font-weight: normal;
    font-size: 10px;
    color: #A1A1A1;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 0.05em;
    position: absolute;
    left: 0;
    top: 0;
  }
  .index & {
    color: #fff;
  }
}

.weather {
  width: 177px;
  float: right;
  top: -10px;
  .index & {
    color: #fff;
    #ww_2 .weather02_t {
      color: #fff;
    }
  }
  ul {
    margin: 0 !important;
  }
}
