<div class="navbar-wrapper">
  <div class="container">
    <div class="row header">
      <div class="span3">
        <span class="cont">
          <p class="tel"><i>tel </i><b>(843) 563-1515</b></p>
          <p class="fax"><i>fax </i><b>(843) 563-3072</b></p>
          <p class="email"><i>email: </i><b><a href="mailto:hotelduna19@mail.ru">hotelduna19@mail.ru</a></b></p>
        </span>
      </div>
      <div class="span4 text-center">
        <a class="logo" href="/">Duna Hotel</a>
        <p><span class="addr">19 Academician Korolev Str, Kazan</span></p>
      </div>
      <div class="span2" style="text-align: center">
        <!-- ClassificationBadge-->
        <script type="text/javascript">document.write("<a href='http://www.classification-tourism.ru/index.php/displayAccommodation/2733' target='_blank'><img src='//certificate.classification-tourism.ru/badge.ashx?id=c621d0190e6246da93a5e4d98655a3b6&p=r:" + escape(document.referrer) + ";u:" + escape(document.URL) + ";r:" + Math.random()+"'" + "border='0' width='180' height='110' alt='Перечень туристских объектов' title='Перечень туристских объектов'><\/a>")</script>
        <!--/ClassificationBadge-->
      </div>
      <div class="span3">
        <a href="/">Russian</a>
      </div>
    </div>
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li><a href="/">Main Page</a></li>
            <li><a href="/photos">Photos</a></li>
            <li><a href="/reservation">Book a room</a></li>
            <li><a href="/prices">Rooms and Price</a></li>
            <li><a href="/services">Service</a></li>
            <li><a href="/payment_conditions">Payment</a></li>
            <li><a href="/3d_tour">3D tour</a></li>
            <!--<li><a href="/feedbacks">Отзывы</a></li>-->
            <li><a href="/map">Map</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">About us <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/partners">Pertners</a></li>
                <li><a href="/details">Requisites</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
