---
title: 3D tour | Duna Hotel, Kazan
---
<div class="container inner">
  <div class="row booking-form">
    <div class="span12 featurette online-tour">
      <iframe src="http://navse360.ru/onlyTour/11372"
        scrolling="no"
        width="100%"
        height="100%">
        Unfortunately, your browser does not support frames.
      </iframe>
    </div>
  </div>
</div>
