<div class="container inner">

  <div class="row">
    <div class="span12 featurette">
      <h2 class="featurette-heading">
        Standard Double room
      </h2>
    </div>
  </div>

  <div class="row gallery">
    <%= partial "photos/_ap-def2" %>
  </div>

  <div class="row cta">
    <div class="span12">
      <a class="btn btn-large btn-primary" href="/en/reservation">On-line booking</a>
    </div>
  </div>
</div>
