---
title: Map | Duna Hotel, Kazan
---
<div class="container inner">
  <div class="row booking-form">
    <div class="span12 featurette">
      <h2 class="featurette-heading">
        The room is booked successfully!
      </h2>
      <h2 class="featurette-heading">
        Location
        <span class="muted">
          it's really easy &mdash; to reach us
        </span>
      </h2>
      <p>
        <b>19 Academic Korolev Str, Kazan </b>
        <br>
        Call us (843) 563-1515, we will meet you and help with placement and parking.
      </p>
      <div class="map">
<script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=K9NBsjhAUmZKdNdIuP1pUBscmPZfpjlJ&amp;width=600&amp;height=450"></script>

      </div>
    </div>
  </div>
  <div class="row marketing transfer">
    <div class="span4">
      <h3>From the railway station Kazan-2 (Vosstaniye-Pass):</h3>
      <ul>
        <li>It's a 7 minute walk</li>
      </ul>
    </div>
    <div class="span4">
      <h3>From the airport:</h3>
      <ul>
        <li>You can use taxi or aeroexpress to reach the railway station. From the railway station you can take the subway and get to either Nothern Railway Station (Severniy Vokzal) or to Gagarin Str bus stop.
        </li>
      </ul>
    </div>
    <div class="span4">
      <h3>From the River Port (Rechnoy port) and Bus Station:</h3>
      <ul>
        <li>Use bus number 53, 6 to get to Gagarin Str bus stop. The total journey time is 47 minutes.</li>
      </ul>
    </div>
  </div>
