---
title: Our details | Duna Hotel, Kazan
---
<div class="container inner">
  <div class="row booking-form">
    <div class="span12 featurette">
      <h2 class="featurette-heading">Client's card</h2>
      <table class="table">
        <tr>
          <td>
            <strong>
              Full organization name
            </strong> (According to founding documents)
          </td>
          <td>
            Limited Liability Company «ForTes»
          </td>
        </tr>
        <tr>
          <td>
            <strong>Name of hotel</strong>
          </td>
          <td>Duna hotel</td>
        </tr>
        <tr>
          <td>
            <strong>Legal / Mailing Address</strong>
          </td>
          <td>19 Academician Korolev Str, Kazan, Russia, 420039</td>
        </tr>
        <tr>
          <td>
            <strong>Actual address</strong>
          </td>
          <td>19 Academician Korolev Str, Kazan, Russia, 420039</td>
        </tr>
        <tr>
          <td>
            <strong>Primary State Registration Number</strong>
          </td>
          <td>1121690087188</td>
        </tr>
        <tr>
          <td>
            <strong>Taxpayer Identification Number of organization</strong>
          </td>
          <td>1657124981</td>
        </tr>
        <tr>
          <td><strong>Code of reason for registration</strong></td>
          <td>165801001</td>
        </tr>
        <tr>
            <td><strong>Name of bank</strong></td>
            <td>Public corporation «Sberbank of Russia» Volga-Vyatka Bank Branch "Bank Tatarstan" №8610 / 0100 Kazan</td>
        </tr>
        <tr>
            <td><strong>Checking Account</strong></td>
            <td>40702810662000003662</td>
        </tr>
        <tr>
            <td><strong>National Classification of enterprises and organizations</strong></td>
            <td>26761819</td>
        </tr>
        <tr>
            <td><strong>Bank Identification Code</strong></td>
            <td>049205603</td>
        </tr>
        <tr>
            <td><strong>Correspondent account</strong></td>
            <td>30101810600000000603</td>
        </tr>
        <tr>
          <td><strong>Russian National Classifier of Economic Activities</strong></td>
          <td>55.1</td>
        </tr>
        <tr>
          <td><strong>General manager</strong> (В соответствии с Уставом)</td>
          <td>Kulagin Vitaliy Yevgenyevich</td>
        </tr>
        <tr>
          <td><strong>Accountant phone number</strong></td>
          <td>(843) 5-63-30-85</td>
        </tr>
        <tr>
          <td><strong>Administrator phone number</strong></td>
          <td>(843) 5-63-15-15</td>
        </tr>
        <tr>
          <td><strong>Fax</strong></td>
          <td>(843) 5-63-30-72</td>
        </tr>
        <tr>
          <td>
            <strong>E-mail</strong>
          </td>
          <td>hotelduna19@mail.ru</td>
        </tr>
        <tr>
          <td>
            <strong>WEB-site</strong>
          </td>
          <td>www.hotelduna.ru</td>
        </tr>
      </table>
    </div>
  </div>
