---
title: Comments | Duna Hotel, Kazan
---
<div class="container inner">
  <h2 class="featurette-heading">Comments about Duna Hotel</h2>
  <h4 class="featurette-heading">Leave your comment:</h2>
</body>
</html>
</div>
