---
title: Duna Hotel, Kazan
page_id: 'homepage'
---
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag "slide-01.jpg" %>
      <div class="container">
        <div class="carousel-caption">
          <h1>
            <i>Duna Hotel is happy to become</i>
            <br>
            <i>a part of your journey</i>
          </h1>
          <p class="lead">
            <i>Whether you are going to see great city, which is declared </i>
            <br>
            <i>to be the third Russia's capital and get acquainted with its rich history and culture</i>
            <br>
            <i>or just make a business trip? Duna Hotel is waiting for you!</i>
          </p>
        </div>
      </div>
    </div>
    <div class="item">
      <%= image_tag "slide-03.jpg" %>
      <div class="container">
        <div class="carousel-caption">
          <h1>
            <i>We are glad to offer you</i>
          </h1>
          <p class="lead">
            <i>Comfortable rooms, laundry service, office service, transfer, taxi, foreign </i>
            <br>
            <i>citizens' registration, free internet, Wi-Fi in every room, </i>
            <br>
            <i>organization of excursions, wake up call, medicine chest.</i>
          </p>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
<div class="container marketing">
  <div class="row button-nav">
    <a href="/en/reservation" class="span4 btn btn-large btn-nav-home">
      <img src="/assets/images/hostel.png" />
      <div class="main-nav-buttons">
        On-line booking
        <br/>
        <small>(Visa support)</small>
      </div>
    </a>
    <a href="/en/reservation" class="span4 btn btn-large btn-nav-home">
      <img src="/assets/images/credit-cards.png" />
      <div class="main-nav-buttons">
        Pay card
        </div>
    </a>
    <a href="/en/3d_tour" class="span4 btn btn-large btn-nav-home">
      <img src="/assets/images/virtual-tour.png" />
      <div class="main-nav-buttns">
        Hotel 3D tour
      </div>
    </a>
  </div>
  <div class="row classes">
    <div class="span4">
      <!--<a href="/en/ap-def">
        <img class="img-circle" src="/assets/images/photos/5_2.jpg">
      </a>-->
      <h2>Standart</h2>
      <p>From 1900 rub/day</p>
      <p class="descr">We always can find a suitable variant for you. Democratic and expedient choice for city guests.</p>
      <p class="cta">
        <!--<a class="look" href="/en/ap-def">Посмотреть фото</a>-->
        <a class="btn btn-primary" href="/en/reservation">Book &raquo;</a>
      </p>
    </div>
    <div class="span4">
      <!--<a href="/en/ap-lux">
        <img class="img-circle" src="/assets/images/photos/3_3.jpg">
      </a>-->
      <h2>Standart &plus;</h2>
      <p>From 2500 rub/day</p>
      <p class="descr">Beautiful rooms with a large bed. There is everything you need for pleasant recreation. Our best offer for comfort lovers.</p>
      <p class="cta">
        <!--<a class="look" href="/en/ap-lux">Посмотреть фото</a>-->
        <a class="btn btn-primary" href="/en/reservation">Book &raquo;</a>
      </p>
    </div>
    <div class="span4">
      <!--<a href="/en/ap-biz"><img class="img-circle" src="/assets/images/photos/2_1.jpg"></a>-->
      <h2>Business</h2>
      <p>From 2700 rub/day</p>
      <p class="descr">Spacious and stylish rooms. You will be pleasantly surprised by home cosiness. There are two rooms in this category.</p>
      <p class="cta">
        <!--<a class="look" href="/en/ap-biz">Посмотреть фото</a>-->
        <a class="btn btn-primary" href="/en/reservation">Book &raquo;</a>
      </p>
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="featurette clearfix">
    <%= image_tag "photos/wifi.png", class: "featurette-image pull-left" %>
    <h2 class="featurette-heading">We are glad to support you <span class="muted"> with everything you need for pleasant recreation</span></h2>
    <p class="lead">There is a high-speed internet all over the hotel (Wi-Fi). We can bring you delicious drinks and dishes if you wish. We can call a taxi for you and help to decide on the cultural program.</p>
  </div>
  <hr class="featurette-divider">
  <div class="featurette">
    <%= image_tag "photos/espresso.png", class: "featurette-image pull-right" %>
    <h2 class="featurette-heading">Comfortable location</h2>
    <p class="lead">
      The Hotel is in 10 minute drive from the city center, inside the parking zone far from city noise and bustling. Convenient transport interchange for all directions.</p>
  </div>
  <hr class="featurette-divider">
