---
title: Road Map | Duna Hotel, Kazan
---
<div class="container inner">
  <div class="row booking-form">
    <div class="span12 featurette">
      <h2 class="featurette-heading">
        Hotel location and driveway
        <span class="muted">
          to reach us &mdash; as easy as pie
        </span>
      </h2>
      <p>
        <b>19 Academic Korolev Str, Kazan, Russia</b>
        <br>
        Call us (843) 563-1515, we will meet you and help with placement and parking
      </p>
      <div class="map">
        <script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=ljZdMfuneMh2B4WHN7uVwllchJDQYXhu&width=600&height=450"></script>
      </div>
    </div>
  </div>
  <div class="row marketing transfer">
    <div class="span4">
      <h3> From railway station Kazan-2 (Vosstanie-Pass, subway station "Severniy vokzal"):</h3>
      <ul>
        <li>3 minutes walk</li>
      </ul>
    </div>
    <div class="span4">
      <h3>From airport:</h3>
      <ul>
        <li>By taxi or aeroexpress to railway station, then on subway to Severniy Vokzal station or on tram to Gagarin st. stop</li>
      </ul>
    </div>
    <div class="span4">
      <h3>From river port or bus station:</h3>
      <ul>
        <li>Bus number 6 and 53 to Gagarin st. stop. The total journey time is 47 minutes</li>
      </ul>
    </div>
  </div>
