---
title: Partners | Duna Hotel, Kazan
---
<div class="container inner">
  <div class="row booking-form">
    <div class="span12 featurette">
      <h2 class="featurette-heading">
        Our Partners
      </h2>
      <div class="partner">
        <h5>ITIL-TOUR</h5>
        <ul>
          <li>Travel Company</li>
          <li>420044, Kazan, Ibragimov st. 43а, 2nd floor</li>
          <li>Phone: (843)523-7-888, 523-7-666</li>
          <li>Internet address: e-mail: itiltour@mail.ru</li>
        </ul>
      </div>

      <div class="partner">
        <h5>KAZAN EXECUTIVE COMMITTEE</h5>
        <ul>
          <li>COMMITTEE FOR EXTERNAL RELATIONS AND TOURISM</li>
          <li>420111, Kazan, Kremlin st. 1</li>
          <li>Phone:  (843) 292-00-92, 292-96-72</li>
          <li>Internet address: e-mail: rdovgal@bk.ru</li>
        </ul>
      </div>

      <div class="partner">
        <h5>LLC  «STOLICA»</h5>
        <ul>
          <li>420111, Kazan, Levobulachnaya st. 16</li>
          <li>Phone:  (843) 292-69-26, 292-62-62</li>
          <li>Internet address: www.volga-tour.ru</li>
        </ul>
      </div>

      <div class="partner">
        <h5>LLC  «PERSONA-GRATA»</h5>
        <ul>
          <li>Travel Company</li>
          <li>420022, РТ, Kazan, Mayakovskiy st. 24а</li>
          <li>Phone:  (843) 299-43-73, 264-25-01</li>
          <li>Internet address: www.personagrata.ru</li>
        </ul>
      </div>

      <div class="partner">
        <h5>LLC «SPORT-HOTEL»</h5>
        <ul>
          <li>420061, Kazan, Ershov st. 18</li>
          <li>Phone:  (843) 236-93-56, 238-01-35</li>
          <li>Internet address: sport-hotel@bk.ru</li>
        </ul>
      </div>

      <div class="partner">
        <h5>ОАО «LDS-1000» (Tatneft-arena)</h5>
        <ul>
          <li>420126, Kazan, Chistopolskaya st. 42</li>
          <li>Phone:  (843) 527-85-46</li>
        </ul>
      </div>

      <div class="partner">
        <h5>LLC  «DINAMO TATSERVICE-TOUR»</h5>
        <ul>
          <li>420015, Kazan, Galaktionov st. 24</li>
          <li>Phone:  (843) 292-07-22, 292-70-11</li>
          <li>Internet address: www.dinamoTST.ru</li>
        </ul>
      </div>

      <div class="partner">
        <h5>G. KAMAL TATAR STATE ACADEMIC THEATRE</h5>
        <ul>
          <li>420021, Kazan, Tatarstan st. 1</li>
          <li>Phone:  (843) 293-14-24. 293-08-83</li>
          <li>Internet address: www.kamaltat.ru</li>
        </ul>
      </div>

      <div class="partner">
        <h5>TATAR REPUBLICAN MOTORISTS ORGANIZATION</h5>
        <ul>
          <li>420000, Kazan, Parijskoy kommuny st. 20/37</li>
          <li>Phone:  (843) 541-62-47</li>
          <li>Internet address: e-mail: nelli_2121@mail.ru</li>
        </ul>
      </div>

      <div class="partner">
        <h5>GA "ICDC"</h5>
        <ul>
          <li>420101, Kazan, Karbishev st. 12а</li>
          <li>Phone:  (843) 291-11-75, 258-14-62</li>
          <li>Internet address: www.icdc.ru</li>
        </ul>
      </div>

      <div class="partner">
        <h5>TUKAI TATAR GOVERMENT PHILHARMONIC</h5>
        <ul>
          <li>420015, Kazan, Gogol st. 4</li>
          <li>Phone:  (843) 236-72-72, 236-79-42</li>
        </ul>
      </div>

      <div class="partner">
        <h5>«BATYR»</h5>
        <ul>
          <li>420066, Kazan, Ibragimov st. 44</li>
          <li>Phone:  (843) 523-66-92</li>
        </ul>
      </div>

      <div class="partner">
        <h5>LLC «MIR BEZ GRANIC»</h5>
        <ul>
          <li>420000, Kazan, Tukai st. 102</li>
          <li>Phone:  (843) 278-24-13, 278-95-69</li>
          <li>Internet address: www.mirbezgranic.ru</li>
        </ul>
      </div>

      <div class="partner">
        <h5>ANO FH «DINAMO-IDEL»</h5>
        <ul>
          <li>420044, Kazan, Yamashev 36</li>
          <li>Phone:  (843) 519-97-97, 526-24-83</li>
        </ul>
      </div>

      <div class="partner">
        <h5>LLC «KIROV-INTUR»</h5>
        <ul>
          <li>610027, Kirov, Vorovskoy st. 43</li>
          <li>Phone:  (8332) 37-61-61, 37-62-62</li>
          <li>Internet address: e-mail: kirov@intourist.ru</li>
        </ul>
      </div>

      <div class="partner">
        <h5>FASHION-CLUB</h5>
        <ul>
          <li>420000, Kazan, Pushkin st. 28, Amirhan st. 13</li>
          <li>Phone:  (843) 238-55-00, 527-00-00</li>
        </ul>
      </div>
    </div>
  </div>
</div>
