---
title: Payment Conditions | Duna Hotel, Kazan
---
<div class="container inner">
  <div class="row booking-form">
    <div class="span12 featurette">
      <h2 class="featurette-heading">Payment by credit card</h2>
      <p>You must choose the special offer "Credit card payment" to select the payment for the goods by credit card on the corresponding page.
  Payment is perfomed through authorization server processing center, using bank credit cards of the following payment systems:
        <li>VISA International</li>
        <li>MasterCard World Wide</li>
      </p>

      <h3>Description of process data</h3>
      <p>To pay for the purchase you will be redirected to the payment gateway of PJSC "Sberbank of Russia" to enter your card details. Please prepare your plastic card in advance. The connection to the payment gateway and the information is transmitted in secure mode using SSL encryption protocol.</p>
      <p>If your bank supports the safe conduct online payments Verified By Visa or MasterCard Secure Code technology for payment may also need to enter a special password. The methods and the possibility of obtaining passwords for making online payments you can check with the bank that issued the card.</p>
      <p>This site supports 256-bit encryption. Privacy communicate the personal information provided by PJSC "Sberbank of Russia". The entered information will not be provided to third parties except in cases provided for by the legislation of the Russian Federation. Making payments on bank cards is carried out in strict accordance with the requirements of payment systems Visa Int. and MasterCard Europe Sprl.</p>

      <h3>Description of the payment process</h3>
      <p>When choosing the form of payment via credit card payment for carrying out the order is carried out immediately after registration. After completing your order at our hotel, you will need to click on the "credit card payment", the system will switch you to a page authorization server, where you will be prompted to enter credit card, to initiate its authorization and then return to our shop button "Back to shop". Once you return to our store, the system will notify you of the results of the authorization. In the case of confirmation of authorization your order will automatically be in accordance with specified search terms. In case of refusal to authorize the card, you can repeat the payment procedure.</p>

      <h3>In case of cancellation of the order</h3>
      <p>In case of cancellation of positions of the paid order (or cancellation of the entire order), you can order other items on this amount or return the full amount to the card pre-writing an e-mail.</p>
    </div>
  </div>
