---
title: Prices | Duna Hotel, Kazan
---
<div class="container inner">
  <div class="row booking-form">
    <div class="span12 featurette">
      <h2 class="featurette-heading">Prices<span class="muted">the rate for 1 night</span></h2>
      <h3>Common rate</h3>
      <table class="table prices">
        <thead>
          <tr>
            <th>Room type</th>
            <th>Room count</th>
            <th>Single placement, rub/d</th>
            <th>Double placement, rub/d</th>
            <th>Triple placement</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="/en/ap-def1">«Standart» Single ( 1 category )</a></td>
            <td>1</td>
            <td>1900</td>
            <td>-</td>
            <td>-</td>
          </tr>
          <tr>
            <td><a href="/en/ap-def2">«Standart» Double ( 1 category )</a></td>
            <td>6</td>
            <td>1900</td>
            <td>2500</td>
            <td>-</td>
          </tr>
          <tr>
            <td><a href="/en/ap-def3">«Standart» Triple ( 2 category )</a></td>
            <td>1</td>
            <td>1900</td>
            <td>2500</td>
            <td>3000</td>
          </tr>
          <tr>
            <td><a href="/en/ap-biz">«Business-Comfort» ( 1 category )</a></td>
            <td>2</td>
            <td>2700</td>
            <td>3500</td>
            <td>-</td>
          </tr>
          <tr>
            <td><a href="/en/ap-def-plus">«Standart &plus;» Double ( 1 category )</a></td>
            <td>2</td>
            <td>2500</td>
            <td>3200</td>
            <td>-</td>
          </tr>
          <tr>
            <td>Living beyond checkout time</td>
            <td></td>
            <td>200</td>
            <td>200</td>
            <td>200</td>
          </tr>
        </tbody>
      </table>
      <h3>Night rate (20.00ч. – 08.00ч.)</h3>
      <table class="table prices">
        <thead>
          <tr>
            <th>Room type</th>
            <th>Room count</th>
            <th>Single placement, rub/d</th>
            <th>Double placement, rub/d</th>
            <th>Triple placement</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="/en/ap-def1">«Standart» Single ( 1 category )</a></td>
            <td>1</td>
            <td>1500</td>
            <td>-</td>
            <td>-</td>
          </tr>
          <tr>
            <td><a href="/en/ap-def2">«Standart» Double ( 1 category )</a></td>
            <td>6</td>
            <td>1500</td>
            <td>1700</td>
            <td>-</td>
          </tr>
          <tr>
            <td><a href="/en/ap-def3">«Standart» Triple ( 2 category )</a></td>
            <td>1</td>
            <td>1500</td>
            <td>1700</td>
            <td>2000</td>
          </tr>
          <tr>
            <td><a href="/en/ap-biz">«Business-Comfort» ( 1 category )</a></td>
            <td>2</td>
            <td>1800</td>
            <td>2000</td>
            <td>-</td>
          </tr>
          <tr>
            <td><a href="/en/ap-def-plus">«Standart &plus;» Double ( 1 category )</a></td>
            <td>2</td>
            <td>1500</td>
            <td>1800</td>
            <td>-</td>
          </tr>
          <tr>
            <td colspan=5>In case of extension of stay from 8.00 to 12.00 will be charged 150 rubles per hour, paid after 12.00 full day.</td>
          </tr>
        </tbody>
      </table>
      <h3>"Hourly" rate of 2 hours or more</h3>
      <table class="table prices">
        <thead>
          <tr>
            <th>Room type</th>
            <th>Room count</th>
            <th>1 hour</th>
            <th>2 hours</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="/en/ap-biz">«Business-Comfort» ( 1 category )</a></td>
            <td>2</td>
            <td>500.00</td>
            <td>1000.00</td>
          </tr>
          <tr>
            <td><a href="/en/ap-def-plus">«Standart &plus;» Double ( 1 category )</a></td>
            <td>2</td>
            <td>500.00</td>
            <td>1000.00</td>
          </tr>
          <tr>
            <td><a href="/en/ap-def2">«Standart» Double ( 1 category )</a></td>
            <td>6</td>
            <td>500.00</td>
            <td>1000.00</td>
          </tr>
        </tbody>
      </table>
      <div>
        <p><i>Discounts do not apply to the night rate</i></p>
        <p>Extra bed - 600 rubles.</p>
        <p>Additional breakfast or dinner - 200 rubles.</p>
        <p>Children under 7 years old stay for free.</p>
        <p>Regular guests discount: 10%</p>
        <p class="red">Tourist Agency commission: 15%</p>
        <p>Newlyweds - 25% discount from the daily mode (less than 1 day)</p>
        <p>The main objective of "Dune" hotel - is to create a comfortable environment</p>
        <p>and the unforgettable atmosphere of relaxation for guests.</p>
        <p>Always glad to see you visiting us!</p>
        <p>Prices valid from June 1, 2015</p>
      </div>
    </div>
  </div>
