---
title: Reservation | Duna Hotel, Kazan
---
<div class="container inner">
  <div class="row booking-form">
    <div class="span12 featurette">
      <h2 class="featurette-heading">
        Reserve room via website
        <span class="muted">
          or call us: (843) 563-1515, we will help you
        </span>
      </h2>
      <h1 class="featurette-heading colored">
        When paying by credit card a 5% discount!
      </h1>
      <h2 class="centered">
        <a href="/en/payment_conditions">Payment conditions</a>
      </h2>
      <div id="_bn_widget_">
         <a href="http://bnovo.ru/" target="_blank">Bnovo</a>
      </div>
      <script src="http://widget.bnovo.ru/js/bnovo.js"></script>
      <script type="text/javascript">
        Bnovo_Widget.init(function(){
          Bnovo_Widget.open('_bn_widget_', {
              type: "vertical",
              lcode: "1411800917",
              lang: "en",
              width: "230",
              background: "#ADADAD",
              bg_alpha: "100",
              padding: "18",
              btn_background: "#2C8BDC",
              btn_background_over: "#1A77C6",
              btn_textcolor: "#FFFFFF",
              visa: "on",
              dop_background: "#2C8BDC",
              dop_textcolor: "#FFFFFF",
              dop_height: "42",
              url: "http://hotelduna.ru/en/booking"
          });
        });
      </script>
    </div>
  </div>
</div>
