---
title: Services | Duna Hotel, Kazan
---

<div class="container inner">
    <div class="row">
        <div class="span12 featurette">
            <h2 class="featurette-heading">Services</h2>

            <h3>Guests of the hotel includes:</h3>
            <ul>
                <li>Everyday room services, change of towels</li>
                <li>Change of beds each three days</li>
                <li>Transfer(from airport, train station)</li>
                <li>Safe at the front desk(for valuable things)</li>
                <li>Secure parking</li>
                <li>Internet Wi-Fi</li>
                <li>Laundry</li>
                <li>Information about the excursions</li>
            </ul>

            <h3>Extra services (free of charge):</h3>
            <ul>
                <li>Children up to 7 years (without ext. placement)</li>
                <li>Taxi ordering</li>
                <li>Emergency call</li>
                <li>Tourist information</li>
                <li>Morning wake-up</li>
                <li>Bed linen and towels</li>
                <li>Providing hygiene kits</li>
                <li>Providing drinking water</li>
                <li>Rent a set of crockery</li>
                <li>Register foreign citizens and persons without citizenship</li>
                <li>Luggage Storage</li>
                <li>Send or receive the fax</li>
                <li>Send or receive the e-mail</li>
            </ul>


            <h3>Extras services (pricelist)</h3>
            <ul>
                <li>Laundry and ironing</li>
                <li>Additional linen</li>
                <li>Photocopying documents</li>
                <li>Order long-distance call</li>
                <li>Excursions are provided by Kazan tourist information centre</li>
            </ul>

            <p>Sberbank ATMs nearby hotel</p>

            <p>The high standard of reception Desk - a guarantee of good mood of our customers!</p>
            <p>You will be satisfied!</p>
        </div>
    </div>
</div>
