---
title: Services | Duna Hotel, Kazan
---

<div class="container inner">
  <div class="row">
    <div class="span12 featurette">
      <h2 class="featurette-heading">Services</h2>

      <h3>Guests of the hotel includes:</h3>
      <ul>
        <li>transfer (from the railway station, the airport, the city routes)</li>
        <li>shipping and railway tickets in the Room</li>
        <li>beverages in room</li>
        <li>deposit</li>
        <li>secure parking</li>
        <li>internet</li>
        <li>laundry</li>
        <li>excursions</li>
      </ul>

      <h3>Extra services (free of charge):</h3>
      <ul>
        <li>Children up to 7 years (without ext. placement)</li>
        <li>Room service</li>
        <li>Internet access</li>
        <li>Taxi ordering</li>
        <li>Using the first-aid kit</li>
        <li>Emergency call</li>
        <li>Tourist information</li>
        <li>Morning wake-up</li>
        <li>Daily housekeeping</li>
        <li>Bed linen and towels</li>
        <li>Providing hygiene kits</li>
        <li>Providing drinking water</li>
        <li>Rent a set of crockery</li>
        <li>Register foreign citizens and persons without citizenship</li>
        <li>Luggage Storage</li>
      </ul>

      <h3>Extras services (pricelist)</h3>
      <ul>
        <li>Beverages in the Room</li>
        <li>Laundry and ironing</li>
        <li>Order long-distance call</li>
        <li>Photocopying documents</li>
        <li>Sending and receiving faxes</li>
        <li>Receiving, sending e-mail</li>
        <li>Additional linen</li>
        <li>Ordering and delivery of railway and air tickets in the Room</li>
        <li>Organization of excursions</li>
      </ul>

      <p>Sberbank ATMs nearby hotel</p>

      <p>The high standard of reception Desk - a guarantee of good mood of our customers!</p>
      <p>You will be satisfied!</p>
    </div>
  </div>
</div>
