<div class="navbar-wrapper">
  <div class="container">
    <div class="row header">
      <div class="span12">
        <a class="logo" href="/">Гостиница Дюна</a>
        <span class="cont pull-right">
          <p class="tel">(843) 563-1515</p>
          <p>
            <span class="addr">Казань, Королёва 19.</span>
          </p>
        </span>
      </div>
    </div>
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li><a href="/">Главная</a></li>
            <li><a href="/photos">Фотогалерея</a></li>
            <li><a href="/booking">Забронировать номер</a></li>
            <li><a href="/prices">Номера и Цены</a></li>
            <li><a href="/services">Услуги</a></li>
            <li><a href="/map">Карта проезда</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">О компании <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/partners">Партнеры</a></li>
                <li><a href="/details">Реквизиты</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
