<div class="navbar-wrapper">
  <div class="container">
    <div class="row header">
      <div class="span4">
        <span class="cont">
          <p class="tel">тел. (843) 563-1515</p>
          <p class="fax">факс. (843) 563-1515</p>
          <p class="email">email: <a href="mailto:dunahotel@mail.ru">dunahotel@mail.ru</a></p>
        </span>
      </div>
      <div class="span4 text-center">
        <a class="logo" href="/">Гостиница Дюна</a>
        <p><span class="addr">Казань, ул. Академика Королева 19</span></p>
      </div>
      <div class="span4 text-right">
        <!-- weatcher widget -->
        <div class="weather">
          <link rel="StyleSheet" href="http://weatherandtime.net/new_wid/w_2/style.css" type="text/css" media="screen">
          <script type="text/javascript" src="http://weatherandtime.net/m_c1/jquery.min.js"></script>
            <div id="ww_2">
              <ul id="weather02_body_4422">
                <li id="weather02_t_4422"    class="weather02_t"></li>
                <li id="weather02_date_4422" class="weather02_date"></li>
              </ul>
            </div>
            <script type="text/javascript" src="http://weatherandtime.net/w_2.js?city=4422&lang=ru"></script>
          </div>
          <!-- weatcher widget -->
          <!-- time widget -->
          <script src="http://weatherandtime.net/swfobject.js" type="text/javascript" ></script>
          <div id="div_clock_08" class="watches">
            <strong>Казань: </strong>
            <span id="swf_clock_08">&nbsp;</span>
            <script type="text/javascript" language="Javascript">swfobject.embedSWF("http://weatherandtime.net/clock_08.swf", "swf_clock_08", "60", "40", "10","clock_08.swf", {city: "4422",lang:"ru",color:"#000000"}, {menu:"false",wmode:"transparent",allowScriptAccess:"always"}, {id:"clock_08",name:"clock_08"});</script>
          </div>
          <!-- time widget -->
        <a class="btn btn-large btn-primary" href="/booking">On-line бронирование номера</a>
      </div>
    </div>
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li><a href="/">Главная</a></li>
            <!--<li><a href="/photos">Фотогалерея</a></li>-->
            <li><a href="/booking">Забронировать номер</a></li>
            <li><a href="/prices">Номера и Цены</a></li>
            <li><a href="/services">Услуги</a></li>
            <!--<li><a href="/feedbacks">Отзывы</a></li>-->
            <li><a href="/map">Карта проезда</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">О компании <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/partners">Партнеры</a></li>
                <li><a href="/details">Реквизиты</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
