<div class="navbar-wrapper">
  <div class="container">
    <div class="row header">
      <div class="span3">
        <span class="cont">
          <p class="tel"><i>тел. </i><b>(843) 563-1515</b></p>
          <p class="fax"><i>факс. </i><b>(843) 563-3072</b></p>
          <p class="email"><i>email: </i><b><a href="mailto:hotelduna19@mail.ru">hotelduna19@mail.ru</a></b></p>
        </span>
      </div>
      <div class="span4 text-center">
        <a class="logo" href="/">Гостиница Дюна <img class="logo-stars" src="/assets/images/twostars.png" alt=""></a>
        <p><span class="addr">Казань, ул. Академика Королева 19</span></p>
      </div>
      <div class="span2" style="text-align: center">
        <!-- ClassificationBadge-->
        <script type="text/javascript">document.write("<a class='header-link' href='http://xn----7sba3acabbldhv3chawrl5bzn.xn--p1ai/index.php/displayAccommodation/10699' target='_blank'>Перечень туристских объектов</a>")</script>
        <!--/ClassificationBadge-->
      </div>
      <div class="span3">
        <a class="header-link" href="/en/<%= current_path %>">English</a>
      </div>
    </div>
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li><a href="/">Главная</a></li>
            <li><a href="/photos">Фотогалерея</a></li>
            <li><a href="/reservation">Забронировать номер</a></li>
            <li><a href="/prices">Номера и Цены</a></li>
            <li><a href="/services">Услуги</a></li>
            <li><a href="/payment_conditions">Условия оплаты</a></li>
            <li><a href="/3d_tour">3D тур</a></li>
            <!--<li><a href="/feedbacks">Отзывы</a></li>-->
            <li><a href="/map">Карта проезда</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">О компании <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/partners">Партнеры</a></li>
                <li><a href="/details">Реквизиты</a></li>
                <li><a href="/documents">Документы</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
