<div class="navbar-wrapper">
  <div class="container">
    <div class="row header">
      <div class="span3">
        <span class="cont">
          <p class="tel"><i>tel </i><b>(843) 563-1515</b></p>
          <p class="fax"><i>fax </i><b>(843) 563-3072</b></p>
          <p class="email"><i>email: </i><b><a href="mailto:hotelduna19@mail.ru">hotelduna19@mail.ru</a></b></p>
        </span>
      </div>
      <div class="span4 text-center">
        <a class="logo" href="/en/">Duna Hotel <img class="logo-stars" src="/assets/images/twostars.png" alt=""></a>
        <p><span class="addr">19 Academic Korolev Str, Kazan</span></p>
      </div>
      <div class="span2" style="text-align: center">
        <!-- ClassificationBadge-->
        <script type="text/javascript">document.write("<a class='header-link' href='http://xn----7sba3acabbldhv3chawrl5bzn.xn--p1ai/index.php/displayAccommodation/10699' target='_blank'>List of tourist sites<\/a>")</script>
        <!--/ClassificationBadge-->
      </div>
      <div class="span3">
        <a class="header-link" href="<%= current_path.split('en').last %>">Russian</a>
      </div>
    </div>
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li><a href="/en/">Main Page</a></li>
            <li><a href="/en/photos">Photos</a></li>
            <li><a href="/en/reservation">Book a room</a></li>
            <li><a href="/en/prices">Rooms and Price</a></li>
            <li><a href="/en/services">Service</a></li>
            <li><a href="/en/payment_conditions">Payment</a></li>
            <li><a href="/en/3d_tour">3D tour</a></li>
            <!--<li><a href="/en/feedbacks">Отзывы</a></li>-->
            <li><a href="/en/map">Map</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">About us <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/en/partners">Partners</a></li>
                <li><a href="/en/details">Requisites</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
