---
title: 3D тур по гостинице | Гостиница Дюна, Казань
---
<div class="container inner">
  <div class="row booking-form">
    <div class="span12 featurette online-tour">
      <iframe src="http://navse360.ru/onlyTour/11372"
        scrolling="no"
        width="100%"
        height="100%">
        Здесь мог бы быть виртуальный тур, но ваш браузер не поддерживает фреймы.
      </iframe>
    </div>
  </div>
</div>
