<div class="container inner">

  <div class="row">
    <div class="span12 featurette">
      <h2 class="featurette-heading">
        Номер класса "Бизнес"
      </h2>
    </div>
  </div>

  <div class="row gallery">
    <a class="span3 fancybox" rel="group" href="/assets/assets/images/photos/biz/2_2.jpg">
      <img src="/assets/assets/images/photos/biz/2_2.jpg", alt: "" >
    </a>
    <a class="span3 fancybox" rel="group" href="/assets/assets/images/photos/biz/2_3.jpg">
      <img src="/assets/assets/images/photos/biz/2_3.jpg" alt="" />
    </a>
    <a class="span3 fancybox" rel="group" href="/assets/assets/images/photos/biz/2_4.jpg">
      <img src="/assets/assets/images/photos/biz/2_4.jpg" alt="" />
    </a>
    <a class="span3 fancybox" rel="group" href="/assets/assets/images/photos/biz/2_5.jpg">
      <img src="/assets/assets/images/photos/biz/2_5.jpg" alt="" />
    </a>
    <a class="span3 fancybox" rel="group" href="/assets/assets/images/photos/biz/2_6.jpg">
      <img src="/assets/assets/images/photos/biz/2_6.jpg" alt="" />
    </a>
  </div>

  <div class="row cta">
    <div class="span12">
      <a class="btn btn-large btn-primary" href="/booking?type=biz">On-line бронирование номера</a>
    </div>
  </div>
</div>
