<div class="container inner">

  <div class="row">
    <div class="span12 featurette">
      <h2 class="featurette-heading">
        Номера класса "Стандарт" трёхместный
      </h2>
    </div>
  </div>

  <div class="row gallery">
    <%= partial "photos/_ap-def3" %>
  </div>

  <div class="row cta">
    <div class="span12">
      <a class="btn btn-large btn-primary" href="/reservation">On-line бронирование номера</a>
    </div>
  </div>
</div>
