<div class="container inner">

  <div class="row">
    <div class="span12 featurette">
      <h2 class="featurette-heading">
        Номера класса "Стандарт"
      </h2>
    </div>
  </div>

  <div class="row gallery">
    <a class="span3 fancybox" rel="group" href="/images/photos/def/5_1.jpg">
      <img src="/images/photos/def/5_1.jpg" alt="" />
    </a>
    <a class="span3 fancybox" rel="group" href="/images/photos/def/5_2.jpg">
      <img src="/images/photos/def/5_2.jpg" alt="" />
    </a>
    <a class="span3 fancybox" rel="group" href="/images/photos/def/5_3.jpg">
      <img src="/images/photos/def/5_3.jpg" alt="" />
    </a>
    <a class="span3 fancybox" rel="group" href="/images/photos/def/6_1.jpg">
      <img src="/images/photos/def/6_2.jpg" alt="" />
    </a>
  </div>

  <div class="row cta">
    <div class="span12">
      <a class="btn btn-large btn-primary" href="/booking">On-line бронирование номера</a>
    </div>
  </div>
</div>
