---
title: Карта проезда | Гостиница Пьер, Казань
---
<div class="container inner">
  <div class="row booking-form">
    <div class="span12 featurette">
      <h2 class="featurette-heading">
       Контакты
      </h2>
    </div>
  </div>
</div>

