---
title: Наши реквизиты | Гостиница Дюна, Казань
---
<div class="container inner">
  <div class="row booking-form">
    <div class="span12 featurette">
      <h2 class="featurette-heading">Карта клиента</h2>
      <table class="table">
        <tr>
          <td><strong>Полное наименование организации</strong> (В соответствии с Учредительными документами)</td>
          <td>Общество с ограниченной ответственностью «Гротос»</td>
        </tr>
        <tr>
          <td><strong>Наименование отеля</strong></td>
          <td>Гостиница «Дюна»</td>
        </tr>
        <tr>
          <td><strong>Юридический адрес</strong></td>
          <td>Республика Татарстан, г. Казань, Ул.Пушкина д46</td>
        </tr>
        <tr>
          <td><strong>Фактический/почтовый адрес</strong></td>
          <td>420015, РТ, г.Казань, ул.Пушкина,  д.46</td>
        </tr>
        <tr>
          <td><strong>ОГРН</strong></td>
          <td>1111690076739</td>
        </tr>
        <tr>
          <td><strong>ИНН организации</strong></td>
          <td>1655229989</td>
        </tr>
        <tr>
          <td><strong>КПП организации</strong></td>
          <td>165501001</td>
        </tr>
        <tr>
            <td><strong>Наименование банка</strong></td>
            <td>АКБ «Энергобанк» (ОАО) г.Казань</td>
        </tr>
        <tr>
            <td><strong>Расчетный счет (р/с)</strong></td>
            <td>40702810400060012805</td>
        </tr>
        <tr>
            <td><strong>БИК</strong></td>
            <td>049205770</td>
        </tr>
        <tr>
            <td><strong>Корреспондентский счет (к/с)</strong></td>
            <td>30101810300000000770</td>
        </tr>
        <tr>
          <td><strong>ОКВЭД</strong></td>
          <td>55.1</td>
        </tr>
        <tr>
          <td><strong>ОКПО</strong></td>
          <td>30381471</td>
        </tr>
        <tr>
          <td><strong>Директор</strong> (В соответствии с Уставом)</td>
          <td>Дунаева Зиля Ибрагимовна</td>
        </tr>
        <tr>
          <td><strong>Телефон директора</strong></td>
          <td>(843) 563-3085</td>
        </tr>
        <tr>
          <td><strong>Главный бухгалтер</td>
          <td></td>
        </tr>
        <tr>
          <td><strong>Телефон/факс бронирования</strong></td>
          <td>(843) 563-1515</td>
        </tr>
        <tr>
          <td><strong>Телефон/факс бухгалтерии</strong></td>
          <td>(843) 563-3085</td>
        </tr>
        <tr>
          <td><strong>Электронный адрес в Интернете</strong></td>
          <td>hotelduna@mail.ru</td>
        </tr>
        <tr>
          <td><strong>WEB-сайт в Интернете</strong></td>
          <td>www.hotelduna.ru</td>
        </tr>
      </table>
    </div>
  </div>
