---
title: Наши реквизиты | Гостиница Дюна, Казань
---
<div class="container inner">
  <div class="row booking-form">
    <div class="span12 featurette">
      <h2 class="featurette-heading">Карта клиента</h2>
      <table class="table">
        <tr>
          <td>
            <strong>
              Полное наименование организации
            </strong> (В соответствии с Учредительными документами)
          </td>
          <td>
            Общество с ограниченной ответственностью «ФорТес»
          </td>
        </tr>
        <tr>
          <td>
            <strong>Наименование отеля</strong>
          </td>
          <td>Гостиница «Дюна»</td>
        </tr>
        <tr>
          <td>
            <strong>Юридический/Почтовый адрес</strong>
          </td>
          <td>420039, Россия, РТ, г.Казань, ул.Академика Королева, д.19</td>
        </tr>
        <tr>
          <td>
            <strong>Фактический адрес</strong>
          </td>
          <td>420039, Россия, РТ, г.Казань, ул.Академика Королева, д.19</td>
        </tr>
        <tr>
          <td>
            <strong>ОГРН</strong>
          </td>
          <td>1111690061350</td>
        </tr>
        <tr>
          <td>
            <strong>ИНН организации</strong>
          </td>
          <td>1657124981</td>
        </tr>
        <tr>
          <td><strong>КПП организации</strong></td>
          <td>165801001</td>
        </tr>
        <tr>
            <td><strong>Наименование банка</strong></td>
            <td>АКБ «БТА-КАЗАНЬ» (ОАО)</td>
        </tr>
        <tr>
            <td><strong>Расчетный счет (р/с)</strong></td>
            <td>40702810600030005756</td>
        </tr>
        <tr>
            <td><strong>БИК</strong></td>
            <td>049205798</td>
        </tr>
        <tr>
            <td><strong>Корреспондентский счет (к/с)</strong></td>
            <td>30101810900000000798</td>
        </tr>
        <tr>
          <td><strong>ОКВЭД</strong></td>
          <td>55.1</td>
        </tr>
        <tr>
          <td><strong>Ген. Директор</strong> (В соответствии с Уставом)</td>
          <td>Кулагин Виталий Евгеньевич</td>
        </tr>
        <tr>
          <td><strong>Телефон директора</strong></td>
          <td>(843) 5-63-30-85</td>
        </tr>
        <tr>
          <td><strong>Телефон администратора</strong></td>
          <td>(843) 5-63-15-15</td>
        </tr>
        <tr>
          <td><strong>Факс</strong></td>
          <td>(843) 5-63-30-72</td>
        </tr>
        <tr>
          <td>
            <strong>Электронный адрес в Интернете</strong>
          </td>
          <td>dunahotel@mail.ru</td>
        </tr>
        <tr>
          <td>
            <strong>WEB-сайт в Интернете</strong>
          </td>
          <td>www.hotelduna.ru</td>
        </tr>
      </table>
    </div>
  </div>
