---
title: Наши реквизиты | Гостиница Дюна, Казань
---
<div class="container inner">
  <div class="row booking-form">
    <div class="span12 featurette">
      <h2 class="featurette-heading">Документы</h2>
      <ul class="documents">
        <li class="download-doc-link"><a href="/assets/documents/dogovor_fiz_lica.doc" download target="_blank">Типовой договор для физ. лиц</a></li>
        <li class="download-doc-link"><a href="/assets/documents/dogovor_ur_lica.doc" download target="_blank">Типовой договор для юр. лиц</a></li>
        <li class="download-doc-link"><a href="/assets/documents/pravila_prozhivaniya.docx" download target="_blank">Правила проживания</a></li>
        <li class="download-doc-link"><a href="/assets/documents/pravila_bronirovan_i_annulirov.docx" download target="_blank">Условия, порядок бронирования и аннулирования бронирования</a></li>
        <li class="download-doc-link"><a href="/assets/documents/perechen_kategoriy_liz_lgoti.docx" download target="_blank">Список категорий лиц, имеющих право на получение льгот</a></li>
        <li class="download-doc-link"><a href="/assets/documents/svidetelstvo_24.01.13.jpg" download target="_blank">Cвидетельство о внесении записи в Единый государственный реестр юр.лиц</a></li>
      </ul>
    </div>
  </div>
</div>