---
title: Наши реквизиты | Гостиница Дюна, Казань
---
<div class="container inner">
  <div class="row booking-form">
    <div class="span12 featurette">
      <h2 class="featurette-heading">Документы</h2>
      <ul class="documents">
        <li class="download-doc-link"><a href="assets/documents/dogovor_fiz_lica.doc" download target="_blank">Типовой договор для физ. лиц</a></li>
        <li class="download-doc-link"><a href="assets/documents/dogovor_ur_lica.doc" download target="_blank">Типовой договор для юр. лиц</a></li>
        <li class="download-doc-link"><a href="#" download target="_blank">Правила проживания</a></li>
        <li class="download-doc-link"><a href="#" download target="_blank">Правила правила бронирования и аннулирования</a></li>
        <li class="download-doc-link"><a href="#" download target="_blank">Cписок категорий лиц, имеющих право на льготы</a></li>
      </ul>
    </div>
  </div>
