---
title: Отзывы | Гостиница Дюна, Казань
---
<div class="container inner">
  <h2 class="featurette-heading">Отзывы об отеле Дюна</h2>
  <h4 class="featurette-heading">Оставьте свой отзыв:</h2>
</body>
</html>
</div>
