---
title: Гостиница Дюна, Казань
page_id: 'homepage'
---
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag "slide-01.jpg" %>
      <div class="container">
        <div class="carousel-caption">
          <h1>
            <i>Отель Дюна с радостью станет частью</i>
            <br>
            <i>вашего путешествия</i>
          </h1>
          <p class="lead">
            <i>Собираетесь посетить великий город с тысячелетней историей, город, признанный </i>
            <br>
            <i>третьей столицей России, познакомиться с его богатой историей и культурой</i>
            <br>
            <i>или просто совершить бизнес-поездку? Отель Дюна ждет вас!</i>
          </p>
          <a class="btn btn-large btn-primary" href="/reservation">
            Бронируйте на сайте - получайте скидку 10%!
            <br/>
            <small>(Визовая поддержка)</small>
          </a>
        </div>
      </div>
    </div>
    <div class="item">
      <%= image_tag "slide-03.jpg" %>
      <div class="container">
        <div class="carousel-caption">
          <h1>
            <i>К услугам гостей</i>
          </h1>
          <p class="lead">
            <i>Комфортабельные номера, услуги прачечной, офисные услуги, трансфер, заказ такси, регистрация </i>
            <br>
            <i>иностранных граждан, бесплатный доступ к безлимитному интернету, Wi-Fi в каждом номере, </i>
            <br>
            <i>организация экскурсий, утренняя побудка, пользование аптечкой.</i>
          </p>
          <a class="btn btn-large btn-primary" href="/reservation" style="line-height: 1;">
            On-line бронирование номера
            <br/>
            <small>(Визовая поддержка)</small>
          </a>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
<div class="container marketing">
  <div class="row classes">
    <div class="span4">
      <!--<a href="/ap-def">
        <img class="img-circle" src="/assets/images/photos/5_2.jpg">
      </a>-->
      <h2>Стандарт</h2>
      <p>От 1800 руб/сутки</p>
      <p class="descr">Всегда сможем подобрать приемлимый вариант в наличии. Демократичный и выгодный во всех отношениях выбор для гостей города.</p>
      <p class="cta">
        <!--<a class="look" href="/ap-def">Посмотреть фото</a>-->
        <a class="btn btn-primary" href="/reservation">Забронировать &raquo;</a>
      </p>
    </div>
    <div class="span4">
      <!--<a href="/ap-lux">
        <img class="img-circle" src="/assets/images/photos/3_3.jpg">
      </a>-->
      <h2>Стандарт &plus;</h2>
      <p>От 2500 руб/сутки</p>
      <p class="descr">Прекрасные номера с огромной кроватью. Имеется все необходимое для приятного отдыха. Наше лучшее предложение для ценителей комфорта.</p>
      <p class="cta">
        <!--<a class="look" href="/ap-lux">Посмотреть фото</a>-->
        <a class="btn btn-primary" href="/reservation">Забронировать &raquo;</a>
      </p>
    </div>
    <div class="span4">
      <!--<a href="/ap-biz"><img class="img-circle" src="/assets/images/photos/2_1.jpg"></a>-->
      <h2>Бизнес</h2>
      <p>От 2700 руб/сутки</p>
      <p class="descr">Просторные и стильные номера. Тепло и домашний уют вас приятно удивят. Данная категория представлена двумя номерами.</p>
      <p class="cta">
        <!--<a class="look" href="/ap-biz">Посмотреть фото</a>-->
        <a class="btn btn-primary" href="/reservation">Забронировать &raquo;</a>
      </p>
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="featurette clearfix">
    <%= image_tag "photos/wifi.png", class: "featurette-image pull-left" %>
    <h2 class="featurette-heading">К вашим услугам <span class="muted">все, что нужно для приятного отдыха</span></h2>
    <p class="lead">На всей территории отеля есть высокоскоростной Интернет (Wi-Fi). По вашему желанию мы доставим в номер приятные блюда и напитки из нашего меню. Поможем вызвать такси, определиться с культурной программой и маршрутами.</p>
  </div>
  <hr class="featurette-divider">
  <div class="featurette">
    <%= image_tag "photos/espresso.png", class: "featurette-image pull-right" %>
    <h2 class="featurette-heading">Удобное расположение</h2>
    <p class="lead">
      Отель находится в 10 минутах езды от центра города, внутри парковой зоны вдалеке от шума и суеты улиц. Удобная транспортная развязка по всем направлениям.</p>
  </div>
  <hr class="featurette-divider">
