---
title: Гостиница Дюна, Казань
---
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <img src="/images/slide-03.jpg" alt="">
      <div class="container">
        <div class="carousel-caption">
          <h1>
            <i>Отель находится в самом центре города</i>
            <br>
            <i>- на улице Пушкина</i>
          </h1>
          <p class="lead">
            <i>В шаговой доступности - БКЗ и. С. Сайдашева, Театр Оперы и Балета, Казанская Государственная </i>
            <br>
            <i>Консерватория, Госсовет Республики Татарстан,   пешеходная улица Баумана, улица Петербургская,</i>
            <br>
            <i>торговый центр Кольцо, ГУМ</i>
          </p>
          <a class="btn btn-large btn-primary" href="/booking">On-line бронирование номера</a>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="/images/slide-01.jpg" alt="">
      <div class="container">
        <div class="carousel-caption">
          <h1>
            <i>К услугам гостей</i>
          </h1>
          <p class="lead">
            <i>Комфортабельные номера, услуги прачечной, офисные услуги, трансфер, заказ такси, регистрация </i>
            <br>
            <i>иностранных граждан, бесплатный доступ к безлимитному   интернету, Wi-Fi в каждом номере, </i>
            <br>
            <i>организация экскурсий, утренняя побудка, пользование аптечкой.</i>
          </p>
          <a class="btn btn-large btn-primary" href="/booking">On-line бронирование номера</a>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
<div class="container marketing">
  <div class="row classes">
    <div class="span4">
      <a href="/ap-lux">
        <img class="img-circle" src="/images/photos/3_3.jpg">
      </a>
      <h2>Люкс</h2>
      <p>прекрасные номера  с огромной кроватью. Имеется кухонный уголок и все необходимое для приятного отдыха. Наше лучшее предложение для ценителей комфорта.</p>
      <p>От 4400 руб/сутки</p>
      <p class="cta">
        <a class="look" href="/ap-lux">Посмотреть фото</a>
        <a class="btn btn-primary" href="/booking">Забронировать &raquo;</a>
      </p>
    </div>
    <div class="span4">
      <a href="/ap-biz"><img class="img-circle" src="/images/photos/2_1.jpg"></a>
      <h2>Бизнес</h2>
      <p>просторные и стильные номера. Тепло и домашний уют вас приятно удивят. Данная категория представлена тремя номерами на любой вкус</p>
      <p>От 3300 руб/сутки</p>
      <p class="cta">
        <a class="look" href="/ap-biz">Посмотреть фото</a>
        <a class="btn btn-primary" href="/booking">Забронировать &raquo;</a>
      </p>
    </div>
    <div class="span4">
      <a href="/ap-def">
        <img class="img-circle" src="/images/photos/5_2.jpg">
      </a>
      <h2>Стандарт</h2>
      <p>8 двухместных и 2 трехместных стандартных номера, всегда сможем подобрать приемлимый вариант в наличии. Демократичный и выгодный во всех отношениях выбор для гостей города.</p>
      <p>От 2000 руб/сутки</p>
      <p class="cta">
        <a class="look" href="/ap-def">Посмотреть фото</a>
        <a class="btn btn-primary" href="/booking">Забронировать &raquo;</a>
      </p>
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="featurette clearfix">
    <img class="featurette-image pull-right" src="/images/photos/6.jpg">
    <h2 class="featurette-heading">К вашим услугам <span class="muted">все, что нужно для приятного отдыха</span></h2>
    <p class="lead">В каждом номере есть высокоскоростной Интернет(wi-fi). По вашему желанию мы доставим в номер приятные блюда и напитки из нашего меню. Поможем вызвать такси,   определиться с культурной программой и маршрутами.</p>
  </div>
  <hr class="featurette-divider">
  <div class="featurette">
    <img class="featurette-image pull-left" src="/images/photos/4.jpg">
    <h2 class="featurette-heading">Удобное расположение <span class="muted">в самом центре города</span></h2>
    <p class="lead">Отель расположен в историческом центре города. Напротив театр, консерватория, парк и фонтаны. В шаговой доступности центральные пешеходные улицы   Казани, множество кафе и магазинов. </p>
  </div>
  <hr class="featurette-divider">
  <div class="featurette">
    <img class="featurette-image pull-right" src="/images/photos/5.jpg">
    <h2 class="featurette-heading">Ночная жизнь города <span class="muted">будь в самом центре</span></h2>
    <p class="lead">Ночной клуб в здании, а также через дорогу не дадут соскучиться тем, кто приехал в город за движением. Можно выбрать себе развлекательную   программу на любой вкус, достаточно пройтись по окрестностям и приглядеться к барам, кальянным и кофейням.
    </p>
  </div>
  <hr class="featurette-divider">
