---
title: Карта проезда | Гостиница Дюна, Казань
---
<div class="container inner">
  <div class="row booking-form">
    <div class="span12 featurette">
      <h2 class="featurette-heading">
        Расположение отеля и проезд
        <span class="muted">
          добраться до нас &mdash; проще простого
        </span>
      </h2>
      <p>
        <b>Казань, ул. Академика Королева 19</b>
        <br>
        Вход с левой стороны здания. Звоните (843) 563-1515, мы вас встретим, поможем с размещением и паркингом.
      </p>
      <div class="map">
<script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=K9NBsjhAUmZKdNdIuP1pUBscmPZfpjlJ&amp;width=600&amp;height=450"></script>

      </div>
    </div>
  </div>
  <div class="row marketing transfer">
    <div class="span4">
      <h3>От аэропорта:</h3>
      <ul>
        <li>Такси, Аэроэкспресс до ЖД Вокзала, с ЖД на метро до станции Северный Вокзал.</li>
      </ul>
    </div>
    <div class="span4">
      <h3>От ж/д вокзала:</h3>
        <ul>
          <li>Метро: до станции Северный Вокзал. Общее время в пути 31 минута.</li>
          <li>Трамвай: до остановки Улица Гагарина. Общее время в пути 51 минута.</li>
        </ul>
    </div>
    <div class="span4">
      <h3>От речного порта и автовокзала:</h3>
      <ul>
        <li>Автобусы 53, 6 до останови Улица Гагарина. Общее время в пути 47 минут.</li>
      </ul>
    </div>
  </div>
