---
title: Карта проезда | Гостиница Дюна, Казань
---
<div class="container inner">
  <div class="row booking-form">
    <div class="span12 featurette">
      <h2 class="featurette-heading">
        Расположение отеля и проезд
        <span class="muted">
          добраться до нас &mdash; проще простого
        </span>
      </h2>
      <p>
        <b>Казань, ул. Академика Королева 19</b>
        <br>
        Вход с левой стороны здания. Звоните (843) 563-1515, мы вас встретим, поможем с размещением и паркингом.
      </p>
      <div class="map">
<script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=K9NBsjhAUmZKdNdIuP1pUBscmPZfpjlJ&amp;width=600&amp;height=450"></script>

      </div>
    </div>
  </div>
  <div class="row marketing transfer">
    <div class="span4">
      <h3>От аэропорта:</h3>
      <ul>

      </ul>
    </div>
    <div class="span4">
      <h3>От ж/д вокзала:</h3>

    </div>
    <div class="span4">
      <h3>От речного порта и автовокзала:</h3>
      <ul>
        <li>Автобусы: 83, 54</li>

      </ul>
    </div>
  </div>
