---
title: Партнеры | Гостиница Дюна, Казань
---
<div class="container inner">
  <div class="row booking-form">
    <div class="span12 featurette">
      <h2 class="featurette-heading">
        Наши партнеры
      </h2>

        <div class="partner">
          <h5>ИТИЛЬ-ТУР</h5>
          <ul>
            <li>Туристическая компания</li>
            <li>420044, г. Казань, пр. Ибрагимова 43а, 2 этаж</li>
            <li>Телефон: (843)523-7-888, 523-7-666</li>
            <li>Адрес в Интернете: e-mail: itiltour@mail.ru</li>
          </ul>
        </div>

        <div class="partner">
          <h5>ИСПОЛНИТЕЛЬНЫЙ КОМИТЕТ Г.КАЗАНИ</h5>
          <ul>
            <li>КОМИТЕТ ВНЕШНИХ СВЯЗЕЙ И ТУРИЗМА</li>
            <li>420111, г.Казань, ул.Кремлевская, д.1</li>
            <li>Телефон:  (843) 292-00-92, 292-96-72</li>
            <li>Адрес в Интернете: e-mail: rdovgal@bk.ru</li>
          </ul>
        </div>

        <div class="partner">
          <h5>ООО  «СТОЛИЦА»</h5>
          <ul>
            <li>420111, г.Казань, ул.Левобулачная, д.16</li>
            <li>Телефон:  (843) 292-69-26, 292-62-62</li>
            <li>Адрес в Интернете: www.volga-tour.ru</li>
          </ul>
        </div>

        <div class="partner">
          <h5>ООО  «ПЕРСОНА-ГРАТА»</h5>
          <ul>
            <li>Туристическая компания</li>
            <li>420022, РТ, г.Казань, ул.Маяковского. д. 24а</li>
            <li>Телефон:  (843) 299-43-73, 264-25-01</li>
            <li>Адрес в Интернете: www.personagrata.ru</li>
          </ul>
        </div>

        <div class="partner">
          <h5>ООО «СПОРТ-ОТЕЛЬ»</h5>
          <ul>
            <li>420061, РТ, г.Казань, ул.Ершова, д. 18</li>
            <li>Телефон:  (843) 236-93-56, 238-01-35</li>
            <li>Адрес в Интернете: sport-hotel@bk.ru</li>
          </ul>
        </div>

        <div class="partner">
          <h5>ОАО «ЛДС-1000» (Татнефть-Арена)</h5>
          <ul>
            <li>420126, РТ, г.Казань, ул.Чистопольская, д.42</li>
            <li>Телефон:  (843) 527-85-46</li>
          </ul>
        </div>

        <div class="partner">
          <h5>ООО  «ДИНАМО ТАТСЕРВИС-ТУР»</h5>
          <ul>
            <li>420015, РТ, г.Казань, ул.Галактионова, д.24</li>
            <li>Телефон:  (843) 292-07-22, 292-70-11</li>
            <li>Адрес в Интернете: www.dinamoTST.ru</li>
          </ul>
        </div>

        <div class="partner">
          <h5>ТАТАР. ГОСУД. АКАДЕМИЧЕСКИЙ ТЕАТР ИМ.Г.КАМАЛА</h5>
          <ul>
            <li>420021, РТ, г.Казань, ул.Татарстан, д.1</li>
            <li>Телефон:  (843) 293-14-24. 293-08-83</li>
            <li>Адрес в Интернете: www.kamaltat.ru</li>
          </ul>
        </div>

        <div class="partner">
          <h5>ТАТАРСКАЯ РЕСПУБЛИКАНСКАЯ ОРГАНИЗАЦИЯ АВТОМОБИЛИСТОВ</h5>
          <ul>
            <li>420000, г.Казань, ул.Парижской коммуны, д. 20/37</li>
            <li>Телефон:  (843) 541-62-47</li>
            <li>Адрес в Интернете: e-mail: nelli_2121@mail.ru</li>
          </ul>
        </div>

        <div class="partner">
          <h5>ГУ «МКДЦ»</h5>
          <ul>
            <li>420101, РТ, г.Казань, ул.Карбышева, д.12а</li>
            <li>Телефон:  (843) 291-11-75, 258-14-62</li>
            <li>Адрес в Интернете: www.icdc.ru</li>
          </ul>
        </div>

        <div class="partner">
          <h5>Татарская госуд. филармония им.Г.Тукая</h5>
          <ul>
            <li>420015, РТ, г.Казань, ул.Гоголя, д.4</li>
            <li>Телефон:  (843) 236-72-72, 236-79-42</li>
          </ul>
        </div>

        <div class="partner">
          <h5>ГУДО РСДЮСШОР  «БАТЫР»</h5>
          <ul>
            <li>420066, г.Казань, ул.Ибрагимова, д.44</li>
            <li>Телефон:  (843) 523-66-92</li>
          </ul>
        </div>

        <div class="partner">
          <h5>ООО «МИР БЕЗ ГРАНИЦ»</h5>
          <ul>
            <li>420000, г.Казань, ул.Тукая. д.102</li>
            <li>Телефон:  (843) 278-24-13, 278-95-69</li>
            <li>Адрес в Интернете: www.mirbezgranic.ru</li>
          </ul>
        </div>

        <div class="partner">
          <h5>КЛУБ АНО КХТ «ДИНАМО-ИДЕЛЬ»</h5>
          <ul>
            <li>420044, г.Казань, пр.Ямашева, д.36</li>
            <li>Телефон:  (843) 519-97-97, 526-24-83</li>
          </ul>
        </div>

        <div class="partner">
          <h5>ООО «КИРОВ-ИНТУР»</h5>
          <ul>
            <li>610027, г.Киров, ул.Воровского, д.43</li>
            <li>Телефон:  (8332) 37-61-61, 37-62-62</li>
            <li>Адрес в Интернете: e-mail: kirov@intourist.ru</li>
          </ul>
        </div>

        <div class="partner">
          <h5>FASHON-CLUB</h5>
          <ul>
            <li>420000, г.Казань, ул.Пушкина 28, Амирхана 13</li>
            <li>Телефон:  (843) 238-55-00, 527-00-00</li>
          </ul>
        </div>

    </div>
  </div>
</div>
