<div class="container inner">

  <div class="row">
    <div class="span12 featurette">
      <h2 class="featurette-heading">
        Фотогалерея
      </h2>
    </div>
  </div>

  <div class="row gallery" style="margin-bottom: 50px">
    <a class="span3 fancybox" rel="group" href="/assets/images/photos/def/5_1.jpg">
      <img src="/assets/images/photos/def/5_1.jpg" alt="" />
    </a>
    <a class="span3 fancybox" rel="group" href="/assets/images/photos/def/5_2.jpg">
      <img src="/assets/images/photos/def/5_2.jpg" alt="" />
    </a>
    <a class="span3 fancybox" rel="group" href="/assets/images/photos/def/5_3.jpg">
      <img src="/assets/images/photos/def/5_3.jpg" alt="" />
    </a>
    <a class="span3 fancybox" rel="group" href="/assets/images/photos/def/6_1.jpg">
      <img src="/assets/images/photos/def/6_2.jpg" alt="" />
    </a>
    <a class="span3 fancybox" rel="group" href="/assets/images/photos/biz/2_2.jpg">
      <img src="/assets/images/photos/biz/2_2.jpg", alt: "" >
    </a>
    <a class="span3 fancybox" rel="group" href="/assets/images/photos/biz/2_3.jpg">
      <img src="/assets/images/photos/biz/2_3.jpg" alt="" />
    </a>
    <a class="span3 fancybox" rel="group" href="/assets/images/photos/biz/2_4.jpg">
      <img src="/assets/images/photos/biz/2_4.jpg" alt="" />
    </a>
    <a class="span3 fancybox" rel="group" href="/assets/images/photos/biz/2_5.jpg">
      <img src="/assets/images/photos/biz/2_5.jpg" alt="" />
    </a>
    <a class="span3 fancybox" rel="group" href="/assets/images/photos/biz/2_6.jpg">
      <img src="/assets/images/photos/biz/2_6.jpg" alt="" />
    </a>
    <a class="span3 fancybox" rel="group" href="/assets/images/photos/lux/3_1.jpg">
      <img src="/assets/images/photos/lux/3_1.jpg" alt="" />
    </a>
    <a class="span3 fancybox" rel="group" href="/assets/images/photos/lux/3_2.jpg">
      <img src="/assets/images/photos/lux/3_2.jpg" alt="" />
    </a>
    <a class="span3 fancybox" rel="group" href="/assets/images/photos/lux/3_4.jpg">
      <img src="/assets/images/photos/lux/3_4.jpg" alt="" />
    </a>
    <a class="span3 fancybox" rel="group" href="/assets/images/photos/lux/3_5.jpg">
      <img src="/assets/images/photos/lux/3_5.jpg" alt="" />
    </a>
    <a class="span3 fancybox" rel="group" href="/assets/images/photos/lux/4_1.jpg">
      <img src="/assets/images/photos/lux/4_1.jpg" alt="" />
    </a>
    <a class="span3 fancybox" rel="group" href="/assets/images/photos/lux/4_2.jpg">
      <img src="/assets/images/photos/lux/4_2.jpg" alt="" />
    </a>
    <a class="span3 fancybox" rel="group" href="/assets/images/photos/lux/4_3.jpg">
      <img src="/assets/images/photos/lux/4_3.jpg" alt="" />
    </a>
    <a class="span3 fancybox" rel="group" href="/assets/images/photos/lux/4_4.jpg">
      <img src="/assets/images/photos/lux/4_4.jpg" alt="" />
    </a>
    <a class="span3 fancybox" rel="group" href="/assets/images/photos/misc/8_2.jpg">
      <img src="/assets/images/photos/misc/8_2.jpg" alt="" />
    </a>
    <a class="span3 fancybox" rel="group" href="/assets/images/photos/misc/8_3.jpg">
      <img src="/assets/images/photos/misc/8_3.jpg" alt="" />
    </a>
    <a class="span3 fancybox" rel="group" href="/assets/images/photos/misc/8_4.jpg">
      <img src="/assets/images/photos/misc/8_4.jpg" alt="" />
    </a>
    <a class="span3 fancybox" rel="group" href="/assets/images/photos/misc/8_5.jpg">
      <img src="/assets/images/photos/misc/8_5.jpg" alt="" />
    </a>
    <a class="span3 fancybox" rel="group" href="/assets/images/photos/misc/7_1.jpg">
      <img src="/assets/images/photos/misc/7_1.jpg" alt="" />
    </a>
    <a class="span3 fancybox" rel="group" href="/assets/images/photos/misc/7_2.jpg">
      <img src="/assets/images/photos/misc/7_2.jpg" alt="" />
    </a>

    <a class="span3 fancybox" rel="group" href="/assets/images/photos/misc/67.jpg">
      <img src="/assets/images/photos/misc/67.jpg" alt="" />
    </a>
    <a class="span3 fancybox" rel="group" href="/assets/images/photos/misc/77.jpg">
      <img src="/assets/images/photos/misc/77.jpg" alt="" />
    </a>
    <a class="span3 fancybox" rel="group" href="/assets/images/photos/misc/93.jpg">
      <img src="/assets/images/photos/misc/93.jpg" alt="" />
    </a>

  </div>
</div>
