---
title: Цены за номера | Гостиница Дюна, Казань
---
<div class="container inner">
  <div class="row booking-form">
    <div class="span12 featurette">
      <h2 class="featurette-heading">Цены за номера<span class="muted">стоимость указана за 1 сутки</span></h2>
      <h3>Тариф общий</h3>
      <table class="table prices">
        <thead>
          <tr>
            <th>Тип номера</th>
            <th>Кол-во номеров</th>
            <th>Одноместное размещение, руб/д</th>
            <th>Двухместное размещение, руб/д</th>
            <th>Трехместное размещение</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="/ap-def1">«Стандарт» 1-но местный ( 1 категории )</a></td>
            <td>1</td>
            <td>1900</td>
            <td>-</td>
            <td>-</td>
          </tr>
          <tr>
            <td><a href="/ap-def2">«Стандарт» 2-х местный ( 1 категории )</a></td>
            <td>6</td>
            <td>1900</td>
            <td>2400</td>
            <td>-</td>
          </tr>
          <tr>
            <td><a href="/ap-def3">«Стандарт» 3-х местный ( 2 категории )</a></td>
            <td>1</td>
            <td>1900</td>
            <td>2400</td>
            <td>3000</td>
          </tr>
          <tr>
            <td><a href="/ap-biz">«Бизнес-Комфорт» ( 1 категории )</a></td>
            <td>2</td>
            <td>2700</td>
            <td>3500</td>
            <td>-</td>
          </tr>
          <tr>
            <td><a href="/ap-def-plus">«Стандарт &plus;» 2-х местный ( 1 категории )</a></td>
            <td>2</td>
            <td>2500</td>
            <td>3200</td>
            <td>-</td>
          </tr>
          <tr>
            <td>Проживание сверх расчетного часа</td>
            <td></td>
            <td>200</td>
            <td>200</td>
            <td>200</td>
          </tr>
        </tbody>
      </table>
      <h3>Ночной тариф (20.00ч. – 08.00ч.)</h3>
      <table class="table prices">
        <thead>
          <tr>
            <th>Тип номера</th>
            <th>Кол-во номеров</th>
            <th>Одноместное размещение, руб/д</th>
            <th>Двухместное размещение, руб/д</th>
            <th>Трехместное размещение</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="/ap-def1">«Стандарт» 1-но местный ( 1 категории )</a></td>
            <td>1</td>
            <td>1500</td>
            <td>-</td>
            <td>-</td>
          </tr>
          <tr>
            <td><a href="/ap-def2">«Стандарт» 2-х местный ( 1 категории )</a></td>
            <td>6</td>
            <td>1500</td>
            <td>1700</td>
            <td>-</td>
          </tr>
          <tr>
            <td><a href="/ap-def3">«Стандарт» 3-х местный ( 2 категории )</a></td>
            <td>1</td>
            <td>1500</td>
            <td>1700</td>
            <td>2000</td>
          </tr>
          <tr>
            <td><a href="/ap-biz">«Бизнес-Комфорт» ( 1 категории )</a></td>
            <td>2</td>
            <td>1800</td>
            <td>2000</td>
            <td>-</td>
          </tr>
          <tr>
            <td><a href="/ap-def-plus">«Стандарт &plus;» 2-х местный ( 1 категории )</a></td>
            <td>2</td>
            <td>1500</td>
            <td>1800</td>
            <td>-</td>
          </tr>
          <tr>
            <td colspan=5>В случае продления проживания c 8.00 до 12.00 взимается плата 150 рублей в час, после 12.00 оплачиваются полные сутки.</td>
          </tr>
        </tbody>
      </table>
      <h3>Тариф «Почасовой» от 2-х часов и более</h3>
      <table class="table prices">
        <thead>
          <tr>
            <th>Тип номера</th>
            <th>Кол-во номеров</th>
            <th>1 час</th>
            <th>2 часа</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="/ap-biz">«Бизнес-Комфорт» ( 1 категории )</a></td>
            <td>2</td>
            <td>500.00</td>
            <td>1000.00</td>
          </tr>
          <tr>
            <td><a href="/ap-def-plus">«Стандарт &plus;» 2-х местный ( 1 категории )</a></td>
            <td>2</td>
            <td>500.00</td>
            <td>1000.00</td>
          </tr>
          <tr>
            <td><a href="/ap-def2">«Стандарт» 2-х местный ( 1 категории )</a></td>
            <td>6</td>
            <td>500.00</td>
            <td>1000.00</td>
          </tr>
        </tbody>
      </table>
      <div>
        <p><i>Скидки на ночной тариф не распространяются</i></p>
        <p>Дополнительное место – 600 руб.</p>
        <p>Дополнительный завтрак или ужин - 200 руб.</p>
        <p>Дети до 7 лет проживают бесплатно.</p>
        <p>Постоянным гостям скидка: 10%</p>
        <p class="red">Туристическим агенствам комиссия: 15%</p>
        <p>Новобрачным – скидка 25% от суточного режима (не более 1 суток)</p>
        <p>Основная задача  отеля «Дюна»  - это создание комфортной обстановки</p>
        <p>и незабываемой атмосферы отдыха для гостей.</p>
        <p>Всегда рады видеть Вас у нас в гостях!</p>
        <p>Цены действуют с 1 июня 2015г.</p>
      </div>
    </div>
  </div>
