---
title: Бронирование номера | Гостиница Дюна, Казань
---
<div class="container inner">
  <div class="row booking-form">
    <div class="span12 featurette">
      <h2 class="featurette-heading">
        Забронируйте номер через сайт
        <span class="muted">
          или позвоните по тел. (843) 563-1515, мы вам поможем
        </span>
      </h2>
      <h1 class="featurette-heading colored">
        При оплате кредитной картой скидка 5%!
      </h1>
      <h2 class="centered">
        <a href="/payment_conditions">Условия оплаты</a>
      </h2>
      <div id="_bn_widget_">
         <a href="http://bnovo.ru/" target="_blank">Bnovo</a>
      </div>
      <script src="http://widget.bnovo.ru/js/bnovo.js"></script>
      <script type="text/javascript">
        Bnovo_Widget.init(function(){
          Bnovo_Widget.open('_bn_widget_', {
              type: "vertical",
              lcode: "1411800917",
              lang: "ru",
              width: "230",
              background: "#ADADAD",
              bg_alpha: "100",
              padding: "18",
              btn_background: "#2C8BDC",
              btn_background_over: "#1A77C6",
              btn_textcolor: "#FFFFFF",
              visa: "on",
              dop_background: "#2C8BDC",
              dop_textcolor: "#FFFFFF",
              dop_height: "42",
              url: "http://hotelduna.ru/booking"
          });
        });
      </script>
    </div>
  </div>
</div>
