---
title: Бронирование номера | Гостиница Дюна, Казань
---
<div class="container inner">
  <div class="row booking-form">
    <div class="span12 featurette">
      <h2 class="featurette-heading">
        Забронируйте номер через сайт
        <span class="muted">
          или позвоните по тел. (843) 563-1515, мы вам поможем
        </span>
      </h2>
      <h1 class="featurette-heading colored">
        При оплате кредитной картой скидка 5%!
      </h1>
      <h2 class="centered">
        <a href="/payment_conditions">Условия оплаты</a>
      </h2>
      <div id="_bn_widget_">
         <a href="http://bnovo.ru/" target="_blank">Bnovo</a>
      </div>
      <script src="https://widget.bnovo.ru/js/iframe.js"></script>
      <div id="bnovo_module_app"></div>
      <script>
        var params= {
                  lcode: 1411800917,
                  lang: 'ru',
                  layout: '',
                  width: '100%',
                  height: 'auto',
                  mobile: 1,
                  mheight: 640,
                  ga_new: '',
                  ga_old: ''
        };
        bnovoModuleCreator(params);
        bnovoGetModule();
      </script>
    </div>
  </div>
</div>
