---
title: Услуги | Гостиница Пьер, Казань
---

<div class="container inner">
  <div class="row">
    <div class="span12 featurette">
      <h2 class="featurette-heading">Услуги</h2>

      <h3>К услугам гостей гостиницы представлены:</h3>
      <ul>
        <li>трансфер  (встреча с ж/д вокзала, аэропорта, маршруты по городу)</li>
        <li>доставка ж/д и авиабилетов в номер</li>
        <li>напитки в номер</li>
        <li>сейф</li>
        <li>охраняемая парковка</li>
        <li>интернет</li>
        <li>прачечная</li>
        <li>экскурсии</li>
      </ul>

      <h3>Доп. услуги  (бесплатно):</h3>
      <ul>
        <li>Детям до 7лет (без доп. места)</li>
        <li>Обслуживание в номерах</li>
        <li>Доступ в Интернет</li>
        <li>Заказ такси</li>
        <li>Пользование аптечкой</li>
        <li>Вызов скорой помощи</li>
        <li>Туристская информация</li>
        <li>Утренняя побудка</li>
        <li>Ежедневная и промежуточная уборка номеров</li>
        <li>Смена постельного белья и полотенец</li>
        <li>Предоставление гигиенических наборов</li>
        <li>Предоставление питьевой воды</li>
        <li>Прокат набора посуды</li>
        <li>Регистрация иностр. граждан и лиц без гражданства</li>
        <li>Хранение багажа</li>
      </ul>

      <h3>Доп. услуги  (по прейскуранту):</h3>
      <ul>
        <li>Напитки в номер</li>
        <li>Стирка и глажение одежды</li>
        <li>Заказ междугороднего разговора</li>
        <li>Ксерокопирование документов</li>
        <li>Прием и отправка факсов</li>
        <li>Прием, отправка электронной почты</li>
        <li>Дополнит.смена белья</li>
        <li>Заказ и доставка ж/д и авиа билетов в номер</li>
        <li>Организация экскурсионной программы</li>
      </ul>

      <p>Рядом с отелем находятся банкоматы Сбербанка.</p>

      <p>Высокий стандарт приема и обслуживания гостей — залог хорошего настроения наших клиентов!</p>
      <p>Вы останетесь довольны!</p>
    </div>
  </div>
</div>
