---
title: Услуги | Гостиница Дюна, Казань
---

<div class="container inner">
  <div class="row">
    <div class="span12 featurette">
      <h2 class="featurette-heading">Услуги</h2>

      <h3>К услугам гостей гостиницы представлены:</h3>
      <ul>
        <li>Ежедневная уборка номеров со сменной полотенец</li>
        <li>Смена постельного белья каждые три дня</li>
        <li>Трансфер (встреча с ж/д вокзала, аэропорта)</li>
        <li>Сейф на ресепшен (для ценных вещей)</li>
        <li>Парковка под видео наблюдением</li>
        <li>Интернет Wi-Fi</li>
        <li>Прачечная</li>
        <li>Информация об экскурсионных программах</li>
      </ul>

      <h3>Доп. услуги  (бесплатно):</h3>
      <ul>
        <li>Детям до 7лет (без доп. места)</li>
        <li>Заказ такси</li>
        <li>Вызов скорой помощи</li>
        <li>Туристская информация</li>
        <li>Утренняя побудка</li>
        <li>Предоставление гигиенических наборов</li>
        <li>Предоставление питьевой воды (кулер)</li>
        <li>Прокат набора посуды</li>
        <li>Регистрация иностранных  граждан и лиц без гражданства</li>
        <li>Хранение багажа</li>
        <li>Прием и отправка факсов</li>
        <li>Прием, отправка электронной почты</li>
      </ul>

      <h3>Доп. услуги  (по прейскуранту):</h3>
      <ul>
        <li>Стирка и глажение одежды</li>
        <li>Дополнительная смена белья</li>
        <li>Ксерокопирование документов</li>
        <li>Услуги трансфера</li>
        <li>Экскурсионные программы предоставляются Туристско-информационным центром г.Казани</li>

      </ul>

      <p>Рядом с отелем находятся банкоматы Сбербанка.</p>

      <p>Высокий стандарт приема и обслуживания гостей — залог хорошего настроения наших клиентов!</p>
      <p>Вы останетесь довольны!</p>
    </div>
  </div>
</div>
